@font-face {
  font-family: "Lobster", cursive;
  src: url(https://fonts.google.com/specimen/Lobster);
}

body {
  background-image: url("https://content.pimp-my-profile.com/ms/i33/5/11/5/f_4f6e2319f0.png");
  color: #e5e5e5;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.header {
  max-width: 1000px;
  margin: auto;
  background-color: rgba(150, 150, 150, 0.9);
}

.Tracks {
  margin: auto;
  text-align: center;
  font-weight: bold;
  padding-right: 20vw;
  height: 60vh;
  display: inline-block;
  max-width: 20vw;
  margin-top: 10vh;
  font-size: large;
  vertical-align: middle;
  background-color: rgba(150, 150, 150, 0.9);
}
.list {
  line-height: 2;
  text-align: left;
  overflow-y: scroll;
  max-height: 400px;
  max-width: 100%;
  /* background-color: blue; */
}

.Player {
  margin-left: auto;
  display: inline-block;
  max-width: 100%;
  margin-top: 50px;
  vertical-align: middle;
  background-color: blue;
}

Button {
  height: 35px;
  width: 125px;
  font-size: large;
}

Input {
  height: 45px;
  width: 200px;
  margin-left: 5px;
}
Input::placeholder {
  font-size: large;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
