@font-face {
  font-family: "Lobster", cursive;
  src: url(https://fonts.google.com/specimen/Lobster);
}
@media screen and (min-width: 1000px) {
  body {
    background-image: url("https://content.pimp-my-profile.com/ms/i33/5/11/5/f_4f6e2319f0.png");
    color: #e5e5e5;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .App {
    text-align: center;
    height: 100vh;
    margin-top: -3vh;
  }

  .header {
    max-width: 90vw;
    margin: auto;
    background-color: rgba(150, 150, 150, 0.9);
    border: 3px #ed008d;
    border-style: solid;
  }

  .trackTitle {
    margin-right: -20vw;
    font-size: large;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  h2 {
    margin-bottom: 1vh;
    margin-top: -3vh;
  }

  .header Button {
    height: 35px;
    width: 125px;
    font-size: large;
  }

  .Tracks {
    margin: auto;
    padding-right: 20vw;
    height: 60vh;
    display: inline-block;
    max-width: 25vw;
    margin-top: 2vh;
    font-size: large;
    vertical-align: middle;
    border: 3px #ed008d;
    border-style: solid;
    background-color: rgba(150, 150, 150, 0.9);
  }
  .list {
    line-height: 2;
    max-height: 50vh;
    width: 43vw;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5px;
  }

  .track {
    font-size: small;
    width: 35vw;
    height: 4vh;
    margin-bottom: 8px;
  }

  .track:hover {
    cursor: pointer;
    background-color: #ed008d;
  }

  .timeStamp {
    font-size: small;
  }

  .Player {
    display: inline-block;
    margin-top: 10vh;
    margin-left: 5vw;
    width: 35vw;
    height: 35vh;
    vertical-align: middle;
  }
  .commentInput {
    font-size: medium;
    width: auto;
    margin-top: 5px;
    margin-right: 5px;
  }

  .comments {
    margin: auto;
    display: block;
    background-color: rgba(150, 150, 150, 0.9);
    height: 150px;
    width: 800px;
    text-align: left;
    line-height: 1.5;
    overflow-y: scroll;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  Input {
    height: 45px;
    width: 200px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: large;
    text-align: left;
  }
  Input::placeholder {
    font-size: large;
  }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
  body {
    background-image: url("https://content.pimp-my-profile.com/ms/i33/5/11/5/f_4f6e2319f0.png");
    color: #e5e5e5;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .App {
    text-align: center;
    height: 100vh;
    margin-top: -3vh;
  }

  .header {
    max-width: 90vw;
    margin: auto;
    background-color: rgba(150, 150, 150, 0.9);
    border: 3px #ed008d;
    border-style: solid;
  }

  .trackTitle {
    margin-right: -20vw;
    font-size: large;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  h2 {
    margin-bottom: 1vh;
    margin-top: -3vh;
  }

  .header Button {
    height: 35px;
    width: 125px;
    font-size: large;
  }

  .Tracks {
    margin: auto;
    padding-right: 20vw;
    height: 60vh;
    display: inline-block;
    max-width: 25vw;
    margin-top: 2vh;
    font-size: large;
    vertical-align: middle;
    border: 3px #ed008d;
    border-style: solid;
    background-color: rgba(150, 150, 150, 0.9);
  }
  .list {
    line-height: 2;
    max-height: 50vh;
    width: 43vw;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5px;
  }

  .track {
    font-size: small;
    width: 35vw;
    height: 4vh;
    margin-bottom: 8px;
  }

  .track:hover {
    cursor: pointer;
    background-color: #ed008d;
  }

  .timeStamp {
    font-size: small;
  }

  .Player {
    display: inline-block;
    margin-top: 10vh;
    margin-left: 5vw;
    width: 35vw;
    height: 35vh;
    vertical-align: middle;
  }
  .commentInput {
    font-size: medium;
    width: auto;
    margin-top: 5px;
    margin-right: 5px;
  }

  .comments {
    margin: auto;
    display: block;
    background-color: rgba(150, 150, 150, 0.9);
    height: 150px;
    width: 500px;
    text-align: left;
    line-height: 1.5;
    overflow-y: scroll;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  Input {
    height: 45px;
    width: 200px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: large;
    text-align: left;
  }
  Input::placeholder {
    font-size: large;
  }
}

@media screen and (max-width: 499px) {
  body {
    background-image: url("https://content.pimp-my-profile.com/ms/i33/5/11/5/f_4f6e2319f0.png");
    color: #e5e5e5;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .App {
    text-align: center;
    height: 100vh;
    margin-top: -3vh;
  }

  .header {
    max-width: 90vw;
    margin: auto;
    background-color: rgba(150, 150, 150, 0.9);
    border: 3px #ed008d;
    border-style: solid;
  }

  .trackTitle {
    margin-right: -20vw;
    font-size: large;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  h2 {
    display: none;
  }

  .header Button {
    height: 35px;
    width: 125px;
    font-size: large;
  }

  .Tracks {
    margin: auto;
    padding-right: 20vw;
    height: 60vh;
    display: inline-block;
    max-width: 25vw;
    margin-top: 2vh;
    font-size: large;
    vertical-align: middle;
    border: 3px #ed008d;
    border-style: solid;
    background-color: rgba(150, 150, 150, 0.9);
  }
  .list {
    line-height: 2;
    max-height: 50vh;
    width: 43vw;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5px;
  }

  .track {
    font-size: small;
    width: 35vw;
    height: auto;
  }

  .track:hover {
    cursor: pointer;
    background-color: #ed008d;
  }

  .timeStamp {
    font-size: small;
  }

  .Player {
    display: inline-block;
    margin-top: 20vh;
    margin-left: 5vw;
    width: 35vw;
    height: 20vh;
    vertical-align: middle;
  }
  .commentInput {
    font-size: medium;
    width: auto;
    margin-top: 5px;
    margin-right: 5px;
  }

  .comments {
    margin: auto;
    display: block;
    background-color: rgba(150, 150, 150, 0.9);
    height: 150px;
    width: 500px;
    text-align: left;
    line-height: 1.5;
    overflow-y: scroll;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  Input {
    height: 45px;
    width: 200px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: large;
    text-align: left;
  }
  Input::placeholder {
    font-size: large;
  }
}
